
:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --white: #FFFFFF;
    --cornflower:#E7E9FC;
    --cloud: #F4F4FD;
    --light-slate: #8E8F99;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family:"Roboto", sans-serif;
    color: var(--slate);
    background-color: var(--white);

    /* max-width: 1440px; */
    margin: 0 auto;
}

img {
    display: block;
}

/* reset */
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* common */
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    border-top: none;
}

/* header */
.header-page {
    border-bottom: 1px solid var(--cornflower);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav-list .link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list .link.current::before {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: var(--ocean);
    border-radius: 2px;
}

.header-nav-list .link.current {
    position: relative;
}

 .link:hover,
 .link:focus,
 .link:active,
.header-nav-list .link.current {
    color: var(--ocean);
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}



.header-page .home-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}
.header-page .home-link-accent {
    color: var(--navy-blue);
}

.header-nav-list .link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}
.header-nav-list .link:hover, .header-nav-list .link:active, .header-nav-list .link:focus {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
    text-decoration: none;
}


.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address .address-list .link {
    display: block;
    padding: 24px 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
    font-style: normal;
}
.header-address .address-list .link:hover, .header-address .address-list .link:focus {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--ocean);
    text-decoration: none;
    font-style: normal;
}

.section-hero {
    display: flex;
    padding-top: 188px;
    padding-bottom: 188px;
    flex-direction: column;
}

.section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/BG-Hero.jpg);
    background-repeat: no-repeat;
    background-size: 1440px 600px;
    background-position: 50% 50%;
}

.section-hero .page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;

    max-width: 496px;

    margin-bottom: 48px;
}

.section-hero .page-order-btn {
    margin-top: 0;

    border: none;

    display: block;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;

    font-family: inherit;
    background: var(--iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;

    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
}
.section-hero .page-order-btn:hover, .section-hero .page-order-btn:focus {
    font-family: inherit;
    background: var(--ocean);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
}

.section-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list .icon-box {
    display: flex;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;

    justify-content: center;
    align-items: center;

    background: var(--cloud);

    margin-bottom: 8px;
}

.benefits-list .text-box {
    margin-top: 0px;
}


.benefits-container .section-list {
    display: flex;

    gap: 24px;
}
 
.section-list .benefits-list {
    width: calc((100% - 72px) / 4);
}

.section-list .benefits-list .list-title {
    margin-bottom: 8px;
}

.section-list .benefits-list .list-desc {
    margin-top: 0;
}

.list-title {
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.list-desc {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
}
.section-team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-container .section-title {
    margin-bottom: 72px;
}

.team-container .section-list {
    display: flex;
    gap: 24px;
}

.team-container .section-list .team-card {
    min-width: calc((100% - 72px) / 4);
    height: 168px;
    padding: 32px 0;
}

.box-container .team-card {
    align-items: stretch;
}

.section-team{
    background: var(--cloud);
}

.section-team .section-title{
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.section-team .section-list .list-box {
    background: var(--white);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.box-container.team-card .icon-box-social {
    padding: 0 16px;
    display: inline-block;
    box-sizing: border-box;

    width: 40;
    height: 40px;

    gap: 24px;
}

.box-container.team-card .icon-box-social .icon-social-link {
    border-radius: 45%;

    width: 40;

    background-color: var(--iris);
}

.box-container.team-card .icon-box-social .icon-social-link .team-icon {
    fill: var(--cloud);
    justify-content: center;
    align-items: center;
}

.section-team .list-title {
    text-align: center;
    margin-bottom: 8px;
}

.section-team .list-desc {
    text-align: center;
}

.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio .section-title {
    margin-bottom: 72px;
}

.portfolio-container .section-list {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-container .section-list .portfolio-card {
    min-width: calc((100% - 48px) / 3);
    padding: 32px 16px
}

.portfolio-container .section-list .list-box .list-title {
    margin-bottom: 8px;
}

.portfolio-container .section-list .list-box .list-desc {
    margin-top: 0;
}

.section-portfolio .section-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
}

.section-portfolio .section-list .portfolio-card {
    background: var(--white);
    border: 1px solid var(--cornflower);
    border-top: none;
}

.footer-page {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--navy-blue);
}

.footer-container {
    row-gap: 16px;
}

.footer-container .footer-desc {
    max-width: 264px;
}

.footer-page .footer-container a {
    display: inline-block;
}


.footer-page .home-link {
    margin-bottom: 16px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}
.footer-page .home-link-accent {
    color: var(--cloud);
}

.footer-page .footer-desc {
    margin-top: 0;
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
}